{{!-- Stock page template --}}
<title>ASXCrypto / {{page}}</title>
{{#if allStock}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Company Name</th>
                <th>Open Price</th>
                <th>Last Price</th>
                <th>Daily Change</th>
                <th>Daily Change %</th>
            </tr>
        </thead>
        <tbody>
            {{#each allStock}}
                <tr>
                    <td>{{ticker}}</td>
                    <td>{{displayName}}</td>
                    <td>{{openPrice}}</td>
                    <td>{{lastPrice}}</td>
                    <td>{{dailyChange}}</td>
                    <td>{{previousDayPerDelta}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p> No data</p>>
{{/if}}